 /* FONTS */
 @font-face {
     font-family:Montserrat-Bold ;
     src: url(fonts/Montserrat-Bold.ttf);
 }
 @font-face {
    font-family: Montserrat-Regular ;
    src: url(fonts/Montserrat-Regular.ttf);
}
     

@font-face {
    font-family:Montserrat-ExtraBold ;
    src: url(fonts/Montserrat-ExtraBold.ttf);
}
     

@font-face {
    font-family:Montserrat-Light ;
    src: url(fonts/Montserrat-Light.ttf);
}
   
/* Header section starts */
/* header logo */
.image{
    max-width:100%;
    height:auto;

}
 .navbar-nav .nav-item{
    align-self: center;
}

.header-btn{
    color:white ;
    background-color:#f24a4a ;
    padding:15px 25px ;
    border-radius:8px ;
    border:1px solid #f24a4a ;
    align-content:center;
    font-family:Montserrat-Bold ;
    font-weight: 700;
    position: relative;
    top:-80px;
    left:350px;  
} 
.header-btn:focus{
    outline:none;
}

.header .navbar-expand-lg{
    float:right;
    margin-left:20px;
}
 .header-logo{
    padding-left: 80px;  
}
.navbar-nav .nav-item .nav-link{
   color: black!important;
   font-family:Montserrat-Regular ;
   font-size: large;
   align-items: center;
   font-weight: 1000px;
   margin-right:20px ;
   position:relative;
   left:330px;
   top: -80px;
}
 /* main banner section start */
.main-banner-head{
    background-color: #0b5eac;
    margin-top: -85px;
   padding:0px 10px;
}
.main-banner-text{
    position:absolute;
    top:250px;
    left:250px ;
}
.main-banner-text h1{
    font-family:Montserrat-Bold ;
    font-size:50px;
    font-weight: 900px;
    color: white;
    /* margin: 50px 50px;
    padding-top:80px;
    padding-left: 90px; */
    
}
.main-banner-text h3{
    font-family:Montserrat-light;
    color: white;
    font-size: 36px;
    font-weight:1000px ;
    /* margin: 50px 50px;
     padding-left: 90px; */
}
.main-banner-head .button-type{
    color:white;
    border: 2px solid #f24a4a;
    padding:10px 42px;
    background-color:#f24a4a ;
    font-family:Montserrat-bold ;
    font-weight:bold;
    border-radius: 5px;
    margin-top: 30px;

}
.main-banner-head .main-banner-img{
    margin-left:400px ;
    margin-top: 100px;
}
 /* main banner section end      */
 /* our services section starts */
 .our-services .left-text{
    padding-top : 180px;
    padding-left:150px;

 }
 .our-services .left-text h3{
     font-size: 30px;
     font-family:Montserrat-Regular;
     font-weight: 800px;
 }
 .our-services .left-text h1:nth-child(2){
     font-family:Montserrat-bold ;
     color: grey;
     opacity: 0.2;
     margin-top:-70px;
     margin-left:-15px ;
     font-size: 60px;
     font-weight: 800;
 }
 .our-services .left-text h1:last-child{
     font-family:Montserrat-bold;
     font-size:60px;
     color: black;
 }
 
 .our-services .left-text h1:last-child span{
     color:#0094da;
 }

  .our-services .right-text{
      font-family:Montserrat-Light ;
      padding-top:180px;
      font-size: 20px;
      color: black;
  }

.our-services .background-1 img{
    background-image:url(images/our-services-image1.png);
    padding:200px 140px 160px 150px ;
    background-size: cover;
    margin-left: 120px;
    margin-top: 50px;
} 
.our-services img{
    padding-left: 200px;
    padding-top: 200px;
} 
.our-services .background-1 h2 {
    color: white;
    margin-top:-180px;
    margin-left:150px;
}
.our-services .background-1 p{
    color: white;
    margin-top: -5px;
    margin-left:150px;
    font-family:Montserrat-Light;
}
.our-services .background-2 img{
    background-image:url(images/our-services-image2.png);
    padding:200px 140px 170px 150px ;
    background-size: cover;
    margin-left: 60px;
    margin-right:10px ;
    margin-top: 50px;
} 
.our-services .background-2 h2 {
    color: white;
    margin-top:-180px;
    margin-left:120px;
}
.our-services .background-2 p{
    color: white;
    margin-top: -10px;
    margin-left:100px ;
    font-family:Montserrat-Light;
    padding: 20px 50px 100px 30px;
}
.our-services .background-3 img{
    background-image:url(images/our-services-image3.png);
    padding:200px 140px 160px 150px ;
    background-size: cover;
    margin-left:-5px;
    margin-top: 50px;
} 
.our-services .background-3 h2 {
    color:white;
    margin-top:-250px;
    margin-left:90px;
}
.our-services .background-3 p{
    color:white;
    margin-top: -30px;
    margin-left:50px;
    padding: 20px 100px 100px 30px;
    font-size: 15px;
    font-family:Montserrat-Light ;
    
}
 .our-services .view-all-services-text {
        border: 1px solid #5f5d5d;
        padding: 16px 65px;
        border-radius: 5px;
        color: black;
        text-decoration-line: none;
        font-family: Montserrat-Bold;
        font-size: 22px;
        margin-left:600px;
        margin-right:100px;
      }
  .our-services .our-services-icon {
    padding-left: 20px;
    padding-right: 150px;
  } 
  .our-services .our-services-icon .icon{
    align-content: center;
    align-items: baseline;
    align-self: center;
    margin-top: -200px;
    margin-bottom:100px;
  } 
  /* our work section starts */
  .our-work-images .our-work{
   background-image:url("images/our-work-background.png");
   background-origin: content-box;
   padding-right: 100%;
   padding-left: 100%;  
   padding-top: 300px;
   padding-bottom:300px;
   margin:15px;
  }
  /* our-project section start */
  .our-project .our-project-content{
      background-color: #f24a4a;
  }
  